<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Hi, {{name}}</p>
  <p>Look likes a reset password was requested for your account.</p>
  <p>If it was you, please click on the link below to registir your new password:</p>
  <p>
    <a href="{{link}}">Reset your password</a>
  </p>
  <p>If it was not you, then please ignore this email!</p>
  <p>
    Thank You!<br />
    <strong>GoBarber Team</strong>
  </p>
</div>
